<app-navabr></app-navabr>
<div class="card">
    <div class="card-header">
      <div class="row">
        Subordinates
      </div>
    </div>
    <div class="table-responsive">
        <table class="table mb-0"
               *ngIf="tasks && tasks.length">
          <thead>
            <tr>
              <th>Title</th>
              <th>Description</th>
              <th>DueDate</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let task of tasks">
               
               <td>
                    {{task.title}}
              </td>
              <td>
                {{task.description}}
              </td>
              <td>
                 {{task.dueDate}}
              </td>
              <td>{{taskStatusEnum[task.status]}}</td>
            </tr>
         </tbody>
        </table>
    </div>
</div>


