<div>
  <app-navabr></app-navabr>
  <div class="container-fluid mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title text-center">Login</h2>
            <form (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label>Username</label>
                <input type="text" class="form-control" [(ngModel)]="authenticationDto.userName" name="username">
              </div>
              <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" [(ngModel)]="authenticationDto.password" name="password">
              </div>
              <button type="submit" class="btn btn-primary btn-block">Login</button>
            </form>
            <div *ngIf="message" class="alert alert-danger mt-3">{{ message }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
