<app-navabr></app-navabr>
<div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-md-2">Filter by status:</div>
        <div class="col-md-4">
          <input type="text"
                 [(ngModel)]="listFilter" />
        </div>
      </div>
    </div> 
    <div class="card-body">
      <div class="row"
           *ngIf="listFilter">
        <div class="col-md-6">
          <h4>Filtered by: {{listFilter}}</h4>
        </div>
      </div>
  
      <div class="table-responsive">
        <table class="table mb-0"
               *ngIf="tasks && tasks.length">
          <thead>
            <tr>
              <th>Task Title</th>
              <th>Description</th>
              <th>DueDate</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let task of filteredTasks">
               <td>
                  {{ task.title }}
              </td>
              <td>{{ task.description}}</td>
              <td>{{ task.dueDate }}</td>
          
              <td class="dropdown">
                <button data-bs-display="static" 
                 class="btn btn-secondary dropdown-toggle"
                  type="button" id="bootstrapDropdown"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                  disabled="{{ taskStatusEnum[task.status] === taskStatusEnum[0] }}"

                    >
                  {{taskStatusEnum[task.status]}}
                </button>
                <div class="dropdown-menu" aria-labelledby="bootstrapDropdown">
                  <a class="dropdown-item" (click)="changeStatus(task, 0)"
                  style="color:red">Pending</a>
                  <a class="dropdown-item"  style="color: orange"
                   (click)="changeStatus(task, 1)"
                   >Inprogress</a>
                  <a class="dropdown-item"
                  (click)="changeStatus(task, 2)"
                  style="color: green"

                >
                  Completed
                </a>
                </div>
              </td>
              <td>
                <button type="button" class="btn btn-outline-danger" mdbRipple rippleColor="dark"  (click)="onDeleteTask(task.id)" 
                >Delete</button>   
              </td>
            </tr>
          </tbody>
        </table>
      </div> 
    </div>  
    <div class="button-container">
      <button type="button" class="btn btn-outline-primary" mdbRipple rippleColor="dark" (click)="onClick()">
        Add Task
      </button>
  </div> 
  <div *ngIf="errorMessage"
       class="alert alert-danger">
    Error: {{ errorMessage }}
  </div>

<router-outlet></router-outlet>