<div class="card">
    <div class="card-header">
      {{pageTitle}}
    </div>
  
    <div class="card-body">
      <div class="row">
        <div class="col-md-2">Filter by:</div>
        <div class="col-md-4">
          <input type="text"
                 [(ngModel)]="listFilter" />
        </div>
      </div>
      <div class="row"
           *ngIf="listFilter">
        <div class="col-md-6">
          <h4>Filtered by: {{listFilter}}</h4>
        </div>
      </div>
  
      <div class="table-responsive">
        <table class="table mb-0"
               *ngIf="tasks && tasks.length">
          <thead>
            <tr>
              <th>Task Title</th>
              <th>Description</th>
              <th>DueDate</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let task of filteredTasks">
              <td>
                <a [routerLink]="[task.id]"
                   [queryParams]="{filterBy: listFilter}">
                  {{ task.status }}
                </a>
              </td>
              <td>{{ task.description}}</td>
              <td>{{ task.dueDate }}</td>
              <td>{{ task.status}}</td>
              <td>
                <button class="btn btn-outline-primary btn-sm"
                        [routerLink]="[task.id, 'edit']">
                  Edit
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  
    </div>
  </div>
  
  <div *ngIf="errorMessage"
       class="alert alert-danger">
    Error: {{ errorMessage }}
  </div>